  <!-- FOOTER -->
<div class="section footer">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-3 col-md-2">
        <b>Company</b><br>
        <a href="http://weave.works/about.html">About Weave</a><br>
        <a href="http://weave.works/team.html">Meet the Team</a><br>
        <!-- <a href="#">Careers</a><br> -->
        <a href="http://blog.weave.works">Blog</a><br>
        <a href="http://weave.works/articles/">Learn More</a><br>
      </div>
      <div class="col-sm-3 col-md-2">
        <b>Community</b><br>
        <a href="http://weave.works/help/index.html#partners">Partners</a><br>
        <a href="http://github.com/weaveworks">Code</a><br>
      </div>
      <div class="col-sm-3 col-md-2">
        <b>Documentation</b><br>
        <a href="http://docs.weave.works">Docs</a><br>
        <a href="http://weave.works/guides/">Getting Started Guides</a><br>
        <a href="http://weave.works/help/index.html">Help and Support</a><br>
        <a href="http://blog.weave.works">Blog</a><br>
      </div>
      <div class="col-sm-3 col-md-2">
        <b>Get in Touch</b><br>
        <div class="hidden-md hidden-lg">
          <a href="mailto:help@weave.works">help@weave.works</a><br>
        </div>
        <a href="http://twitter.com/weaveworks">Twitter</a><br>
        <a href="http://github.com/weaveworks">Github</a><br>
        <a href="http://slideshare.net/weaveworks">Slideshare</a><br>
        <a href="https://www.linkedin.com/company/weaveworks">Linkedin</a><br>
        <a href="https://plus.google.com/+WeaveWorksInc/">GooglePlus</a><br>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <b>Talk to a human</b>
        <div  align="center">
          <br>
          <a href="mailto:help@weave.works" class="btn btn-lg">Drop us a line</a>
        </div>
      </div>
    </div>
    <div class="row">
      <br>
      <br>
      <div class="col-sm-4">
        <p class="copyright">&copy; Weaveworks 2014 &dash; 2015</p>
      </div>
    </div>
  </div>
</div>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://weave.works/js/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript">
    WebFontConfig = { fontdeck: { id: '56326' } };

    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
</script>
<script type="text/javascript">
piAId = '124932';
piCId = '85570';

(function() {
function async_load(){
var s = document.createElement('script'); s.type = 'text/javascript';
s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
}
if(window.attachEvent) { window.attachEvent('onload', async_load); }
else { window.addEventListener('load', async_load, false); }
})();
</script>
