  <div class="section section-header navbaronly">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://weave.works/"><img src="http://weave.works/img/weave-logo.png"></a>
        </div>
        <div class="nav-wrapper">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://docs.weave.works">Docs</a>
            </li>
            <li>
              <a href="http://github.com/weaveworks">Code</a>
            </li>
            <li>
              <a href="http://blog.weave.works">Blog</a>
            </li>
            <li>
              <a href="http://weave.works/help/index.html">Help &amp; Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
