  <div class="section header navbaronly">
    <nav class="navbar navbar-inverse">
      <div class="container">
          <div><!-- class="navbar-header"> -->
            <a class="navbar-brand" href="http://weave.works/"><img src="http://weave.works/img/weave-logo.png"></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://docs.weave.works">Docs</a>
            </li>
            <li>
              <a href="http://github.com/weaveworks">Code</a>
            </li>
            <li>
              <a href="http://blog.weave.works">Blog</a>
            </li>
            <li>
              <a href="http://weave.works/help/index.html">Help &amp; Support</a>
            </li>
          </ul>
      </div>
    </nav>
  </div>
