# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vagrant

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
profile.cov
coverage.html
.pkg

# Emacs backup files
*~

# Vim backup files
*.swp

# Project specific
cmd/weaver/weaver
cmd/weavedns/weavedns
cmd/weavehosts/weavehosts
cmd/weaveproxy/weaveproxy
cmd/sigproxy/sigproxy
cmd/weavewait/weavewait
cmd/weavewait/weavewait_noop
cmd/weavewait/weavewait_nomcast
cmd/weaveutil/weaveutil
cmd/plugin/plugin
testing/cover/cover
testing/runner/runner
releases
.*.uptodate
weave.tar.gz
cmd/weaveexec/weave
cmd/weaveexec/weavehosts
cmd/weaveexec/weaveproxy
cmd/weaveexec/weavewait
cmd/weaveexec/weavewait_noop
cmd/weaveexec/weavewait_nomcast
cmd/weaveexec/sigproxy
cmd/weaveexec/weaveutil
cmd/weaveexec/docker*.tgz
Vagrantfile.local
test/tls/tls
test/tls/*.pem
test/coverage
test/coverage.*
